<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="capabilities">
            <section name="first" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </sectionGroup>
        <sectionGroup name="environments">
            <section name="pixel-3" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <section name="galaxy-s10e" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </sectionGroup>
    </configSections>

    <appSettings>
        <add key="user" value="gauravshah6" />
        <add key="key" value="yExfgqkiUPbHTpWrPddK" />
        <add key="server" value="hub.browserstack.com" />
    </appSettings>

    <capabilities>
        <first>
            <add key="project" value="NUnit Android"/>
            <add key="build" value="First NUnit Android Test"/>
            <add key="name" value="first_test"/>
            <add key="browserstack.debug" value="true"/>
            <add key="app" value="bs://ea64e744647a97fe78cb88a37db700c7419672c7"/>
        </first>
        <local>
            <add key="project" value="NUnit Android"/>
            <add key="build" value="Local NUnit Android Test"/>
            <add key="name" value="local_test" />
            <add key="browserstack.debug" value="true"/>
            <add key="browserstack.local" value="true"/>
            <add key="app" value="bs://9717fd4cd7be980ca42827d630de7a5b5f3f9454"/>
        </local>
        <parallel>
            <add key="project" value="NUnit Android"/>
            <add key="build" value="Parallel NUnit Android Test"/>
            <add key="name" value="parallel_test"/>
            <add key="browserstack.debug" value="true"/>
            <add key="app" value="bs://ea64e744647a97fe78cb88a37db700c7419672c7"/>
        </parallel>
    </capabilities>

    <environments>
        <pixel-3>
            <add key="device" value="Google Pixel 3"/>
            <add key="os_version" value="9.0"/>
        </pixel-3>
        <galaxy-s10e>
            <add key="device" value="Samsung Galaxy S10e"/>
            <add key="os_version" value="9.0"/>
        </galaxy-s10e>
    </environments>
</configuration>