<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="environments">
      <section name="iphone-7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="iphone-7-plus" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="user" value="BROWSERSTACK_USERNAME" />
    <add key="key" value="BROWSERSTACK_ACCESS_KEY" />
    <add key="server" value="hub.browserstack.com" />
  </appSettings>
  
  <capabilities>
    <single>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="single_test" />
      <add key="browserstack.debug" value="true" />
      <add key="realMobile" value="true" />
      <add key="automationName" value="XCUITest" />
      <add key="app" value="bs://hashed-app-id"/>
  </single>
    <local>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="local_test" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
      <add key="realMobile" value="true" />
      <add key="automationName" value="XCUITest" />
      <add key="app" value="bs://hashed-app-id"/>
    </local>
    <parallel>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="parallel_test" />
      <add key="browserstack.debug" value="true" />
      <add key="realMobile" value="true" />
      <add key="automationName" value="XCUITest" />
      <add key="app" value="bs://hashed-app-id"/>
    </parallel>
  </capabilities>

  <environments>
    <iphone-7>
      <add key="device" value="iPhone 7"/>
    </iphone-7>
  <iphone-7-plus>
    <add key="device" value="iPhone 7 Plus"/>
  </iphone-7-plus>
  </environments>

</configuration>